@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #7f7676;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: auto;
    flex-direction: row;
    gap: 20px;
    box-sizing: border-box;
    max-width: 1300px;
}

.basic, .pro, .enterprise {
    background-color: #efebeb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
    transform: scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

h1 { 
    margin: 0;
    margin: 10px;
    font-size: 3rem;
    color: #fff;

}

.basic:hover, .pro:hover, .enterprise:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.title-basic {
    font-size: 2rem;
    margin: 20px 0 10px 0;
    padding: 10px;
    background-color: #fa875d;
    border-radius: 3px;
}

.title-pro {
    font-size: 2rem;
    margin: 20px 0 10px 0;
    padding: 10px;
    background-color: #6fcf97;
    border-radius: 3px;
}

.title-enterprise {
    font-size: 2rem;
    margin: 20px 0 10px 0;
    padding: 10px;
    background-color: #56ccf2;
    border-radius: 3px;
}

.precio-basic, .precio-pro, .precio-enterprise {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    margin: 10px 0;
}

.mes {
    display: block; 
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.726)
}

.precio-basic, .precio-pro, .precio-enterprise {
    font-size: 3rem;
    font-weight: 700;
}

.purchase-1 {
    margin: 30px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: #fa875d
}

.purchase-2 {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    margin: 15px;
    background-color: #6fcf97
}

.purchase-3 {
    margin: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: #56ccf2
}

.purchase-1:hover {
    background-color: #e6734a;
    
}

.purchase-2:hover {
    background-color: #5ec286;   
}

.purchase-3:hover {
    background-color: #45b0d1;   
}

button {
    transform: scale(1);
    transition: transform 0.2s ease;
    margin-top: 15px;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

.features-negrito {
    background-color:#97999ab2
}

.features-gris {
    background-color:#d3d3d3b2
}

.features-gris, .features-negrito {
    margin: 0;
    padding: 10px;
    border-radius: 3px;
    font-weight: 700;
}

.descripcion {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.675);
    margin: 0 20px 10px 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        height: auto;
        width: 100%;
        align-items: center;
    }

    .basic, .pro, .enterprise {
        width: 90%;
        margin: 10px 0;
        max-width: 400px;
    }
}
